@import url("https://fonts.googleapis.com/css?family=Open + Sans:400,300,500,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");

basefont = 'Poppins', sans-serif;

danger = #fb9678;
success = #00c292;
warning = #fec107;
primary = #ab8ce4;
info = #03a9f3;
muted = #98a6ad;
dark = #2b2b2b;
inverse = #4c5667;
light = #e4e7ea;
extralight = #f7fafc;

border = rgba(120, 130, 140, 0.13);